.code-editor textarea {
  width: 750px;
  height: 300px;
  background-color: #374151;
  color: #ffffff;
  border: none;
  padding: 1rem;
  font-family: monospace;
  resize: none;
}

.title {
  color: #60A5FA;
}

.code-editor {
  background-color: #111827;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #374151;
}
